version: '3.9'

services:
  backend:
    build: ./backend
    container_name: reddit-backend
    env_file: ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: reddit-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
volumes:
  mongo-data:
