.Overlay {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121214;


}

.LoginCard {
  width: 420px;
  background: #0E1113;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.4);
  color: white;
  text-align: center;
}

.LoginCard h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.LoginButtons {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 25px;
  border: none;
  background: #ffffff;
  color: black;
  cursor: pointer;
  font-weight: 500;
}

.ORSeparator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #a5a5a5;
  font-size: 12px;
  margin: 20px 0;
}

.ORSeparator::before,
.ORSeparator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #3a3a3a;
  margin: 0 10px;
}

.LoginCard input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px solid #3a3a3a;
  background: #2a2a2b;
  color: white;
  font-size: 14px;
}

.SubmitButton {
  width: 100%;
  padding: 14px;
  background: #FF4500;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.SubmitButton:disabled {
  background: #23272a;
  color: #585c5e;
  cursor: not-allowed;
  opacity: 0.6;
}

.ForgotPassword {
  color: #6ea4ff;
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
}

.SignupRedirect {
  margin-top: 10px;
  color: #818384;
}

.forgotandnewtoreddit {
  text-align: left;
}

.Email_Password {
  padding-right: 50px;
  padding-left: 10px;
}
